<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card cardPubli">
            <div class="infopubli">
              <h3>Espacio para publicidad de la empresa</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card cardInfo">
            <div class="info">
              <h3>
                Espacio para informacion relevante para el cargo de
                {{ profile }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card cardExpand">
        <div class="mensaje">
          <h3>Bienvenido a la prueba técnica de SitiApp</h3>
        </div>
      </div>
    </div>
  </div>
</div>
