<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Gestor De Usuarios</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card cardTableUsers">
        <div class="card-body">
          <div class="containerTable">
            <div class="row">
              <div class="col-4">
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Nombre de usuario"
                  [(ngModel)]="usernameFind"
                  name="usernameFind"
                />
              </div>
              <div class="col botonera">
                <button
                  type="button"
                  class="btn btn-primary btnForm"
                  (click)="findUser()"
                >
                  filtrar por nombre de usuario
                </button>
                <button
                  type="button"
                  class="btn btn-primary btnForm"
                  (click)="deleteFilters()"
                >
                  quitar filtros
                </button>
                <button
                  type="button"
                  class="btn btn-success btnForm"
                  (click)="openModal(content)"
                  (click)="setTypeModal('create')"
                >
                  Insertar usuario
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Perfil</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let user of users; index as i"
                      (click)="openModal(content)"
                      (click)="selectUser(user.user)"
                      (click)="setTypeModal('update')"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        {{ user.name }}
                      </td>
                      <td>
                        {{ user.surname }}
                      </td>
                      <td>
                        {{ user.user }}
                      </td>
                      <td>
                        {{ user.profile.name }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal class="modal">
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="surname"
          name="surname"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Nombre de usuario</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user"
          name="user"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Perfil</label>
        <div *ngIf="typeModal == 'create'">
          <select class="form-select" [(ngModel)]="profile" name="profile">
            <option value="0">Escoja una opcion</option>
            <option *ngFor="let profile of profiles" value="{{ profile.id }}">
              {{ profile.name }}
            </option>
          </select>
        </div>
        <div *ngIf="typeModal == 'update'">
          <select class="form-select" [(ngModel)]="profile" name="profile">
            <option *ngFor="let profile of profiles" value="{{ profile.id }}">
              {{ profile.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="typeModal == 'create'"
      type="button"
      class="btn btn-success"
      (click)="insertUser()"
      (click)="modal.close('Close click')"
    >
      Insertar
    </button>
    <button
      *ngIf="typeModal == 'update'"
      type="button"
      class="btn btn-success"
      (click)="updateUser()"
      (click)="modal.close('Close click')"
    >
      Modificar
    </button>
    <button
      *ngIf="typeModal == 'update'"
      type="button"
      class="btn btn-success"
      (click)="deleteUser()"
      (click)="modal.close('Close click')"
    >
      Eliminar
    </button>
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>
