.card {
  height: 85vh;
  margin: 10px;
}
.cardForm {
  background-image: url("../../../assets/images/fondo3.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38vh;
  margin: 10px;
}
.tableContainer {
  height: 60vh;
  overflow-y: scroll;
}
.table {
  margin-top: 20px;
}

tr:hover {
  background-color: rgb(211, 211, 255);
  cursor: pointer;
}
form {
  width: 100%;
}
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 30vw;
}
