<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Gestor De Clientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Buscar cliente por Identificacion
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Modificar cliente
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Registrar un nuevo cliente
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            eliminar un cliente
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>