<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Gestor De Clientes</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card cardTableClients">
        <div class="card-body">
          <div class="containerTable">
            <div class="row">
              <div class="col-4">
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Identificacion"
                  [(ngModel)]="identificationFind"
                  name="identificationFind"
                />
              </div>
              <div class="col-3">
                <div>
                  <select
                    class="form-select"
                    [(ngModel)]="typeFind"
                    name="typeFind"
                  >
                    <option [value]="-1">Escoja una opcion</option>
                    <option
                      *ngFor="let type of idTypes"
                      value="{{ type['identificationType'] }}"
                    >
                      {{ type.description }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col botonera">
                <button
                  type="button"
                  class="btn btn-primary btnForm"
                  (click)="findCustomer()"
                >
                  filtrar por identificacion
                </button>
                <button
                  type="button"
                  class="btn btn-primary btnForm"
                  (click)="deleteFilters()"
                >
                  quitar filtros
                </button>
                <button
                  type="button"
                  class="btn btn-success btnForm"
                  (click)="openModal(content)"
                  (click)="setTypeModal('create')"
                  *ngIf="profile == 'Administrador'"
                >
                  Insertar cliente
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo ident.</th>
                      <th scope="col">Identificacion</th>
                      <th scope="col">Razon social</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let client of clients; index as i"
                      (click)="openModal(content)"
                      (click)="
                        selectCustomer(
                          client.identification,
                          client.identificationType.identificationType
                        )
                      "
                      (click)="setTypeModal('update')"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        {{ client.identificationType.abbreviation }}
                      </td>
                      <td>
                        {{ client.identification }}
                      </td>
                      <td>
                        {{ client.businessName }}
                      </td>
                      <td *ngIf="client.state == 'active'">Activo</td>
                      <td *ngIf="client.state == 'inactive'">Inactivo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal class="modal">
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Tipo de identificacion</label
        >
        <div *ngIf="typeModal == 'create'">
          <select class="form-select" [(ngModel)]="idType" name="idType">
            <option [value]="-1">Escoja una opcion</option>
            <option
              *ngFor="let type of idTypes"
              value="{{ type.identificationType }}"
            >
              {{ type.description }}
            </option>
          </select>
        </div>
        <div *ngIf="typeModal == 'update'">
          <select class="form-select" [(ngModel)]="idType" name="idType">
            <option
              *ngFor="let type of idTypes"
              value="{{ type.identificationType }}"
            >
              {{ type.description }}
            </option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Identificacion</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="identification"
          name="identification"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Razon social</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="businessName"
          name="businessName"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Estado</label>
        <select class="form-select" [(ngModel)]="state" name="state">
          <option value="active">Activo</option>
          <option value="inactive">Inactivo</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="typeModal == 'create' && profile == 'Administrador'"
      type="button"
      class="btn btn-success"
      (click)="insertClient()"
      (click)="modal.close('Close click')"
    >
      Insertar
    </button>
    <button
      *ngIf="typeModal == 'update' && profile == 'Administrador'"
      type="button"
      class="btn btn-success"
      (click)="updateClient()"
      (click)="modal.close('Close click')"
    >
      Modificar
    </button>
    <button
      *ngIf="typeModal == 'update' && profile == 'Administrador'"
      type="button"
      class="btn btn-success"
      (click)="deleteClient()"
      (click)="modal.close('Close click')"
    >
      Eliminar
    </button>
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>
